div#container
	div#login
		div.handle
			input(type="text", id="handle", placeholder="Choose Nick")
		div#join	
			div.header 
				h1 Join Room
			div.yui3-g.rooms
				div.yui3-u-1-5
					div.button Friends
				div.yui3-u-1-5
					div.button Flirtu
				div.yui3-u-1-5
					div.button Gossip
				div.yui3-u-1-5
					div.button Bangalore
				div.yui3-u-1-5
					div.button Dating