div#container
	div#header
		div.yui3-g.rooms
			div.yui3-u-1-5
				div.button.selected Friends
			div.yui3-u-1-5
				div.button Flirtu
			div.yui3-u-1-5
				div.button Gossip
			div.yui3-u-1-5
				div.button Bangalore
			div.yui3-u-1-5
				div.button Dating
	div#content
		div#room
			div.yui3-g
				div.yui3-u-4-5
					div.messages.col
				div.yui3-u-1-5
					div.list.col
			div#message.yui3-g
				div.yui3-u-4-5
					div.text
						textarea
				div.yui3-u-1-5
					div#send-btn
						input(id="send", type="button", value="Send")
	div#footer